@media screen and (min-width: 700px){
    /*--------Header--------*/
    .logo{
        width: 10vw;
    }

    #menu-toggle{
        display: none;
    }

    .navigation{
        display: flex;
        background-image: none;
        position: static;
        width: auto;
    }

    .menu{
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .menu-item a{
        color: var(--text-light);
    }

    /*--------img for maps.hmtl--------*/

    .container-img {
        grid-template-columns: repeat(3, 1fr);
        max-width: 900px;
        margin: 2rem auto;
    }

        .container-img figure {
        max-width: 350px;
    }

    /*--------img for characters.hmtl--------*/

    .container-character {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        padding: 2rem;
        gap: 2rem;
    }

    .flip-card {
        width: 350px;
        height: 350px;
    }

    .flip-front h3 {
        font-size: 1.4rem;
    }

    .flip-front p {
        font-size: 1rem;
    }

    /*--------form contact.hmtl--------*/

    label {
        font-size: 1.1rem;
    }

    input,
    textarea,
    select {
        font-size: 1.05rem;
    }

    .container-form {
        max-width: 550px;
    }
}