@media screen and (min-width: 700px){
    /*--------Header--------*/
    .logo{
        width: 10vw;
    }

    #menu-toggle{
        display: none;
    }

    .navigation{
        display: flex;
        background-image: none;
        position: static;
        width: auto;
    }

    .menu{
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .menu-item a{
        color: var(--text-light);
    }

}