:root {
    --color-brown-ground: #7b4f2a;
    --color-brown-dark: #4a2e17;
    --color-grey-stone: #6a6a6a;
    --color-green-grass: #2d5d1f;
    --color-purple-antagonist: #6B3FA0;
    --color-purpleblue-cristal: #7C6BCB;
    --text-light: #fff;
    --text-dark: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;;
}

body{
    background-color: var(--color-green-grass);
    overflow-x: hidden;
}

header, footer{
    text-align: center;
    background-color: var(--color-grey-stone);
    color: var(--text-light);
    padding: 2rem;
    text-shadow: 0 0 5px #000;
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
}

.project-container{
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    padding: 1rem;
    background-color: rgba(255, 250, 230, 0.1);
    display: grid;
    grid-template-rows: auto;
    box-shadow: 0 0 20px #00000070;
    border-radius: 8px;
}

.section-project{
    background-color: var(--color-brown-ground);
    color: var(--text-light);
    text-align: center;
    border: 4px solid var(--color-brown-dark);
    padding: 1rem;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 4px;
}

.titles{
    letter-spacing: 1px;
    text-shadow: 0 0 5px #000;
    position: relative;
}

.titles::after {
    content: "";
    display: block;
    width: 40%;
    margin: 0.5rem auto 0;
    height: 3px;
    background: #ddb97b;
    opacity: 0.7;
}

.instruction {
    text-align: center;
}

/*------------ modal --------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #7b4f2a;
    color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 4px solid #4a2e17;
    max-width: 600px;
    border-radius: 8px;
    font-family: "Cinzel", serif;
    box-shadow: 0 0 20px #00000070;
}

#modal-close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#modal-close:hover {
    color: #ddb97b;
}

.img-wireframe{
    width: 100%;
    height: auto;
}