:root{
    --background-principal:#C7D3C0;
    --background-card:#D9CBE3;
    --background-bottom: #F7BFA0;
    --text-principal: #3C3C3C;
    --secundary-text: #6B6572;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Bitcount Grid Single", system-ui, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

body{
    background-color: var(--background-principal);
}

/*------------Header-------------*/

header{
    text-align: center;
    background-color: var(--background-card);
    padding: 2rem 0 0 0;
}

header span{
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
}

.navigation{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0; 
    background-color: rgb(175, 175, 227);
    padding: 10px;
    border-radius: 8px;
    height: 2vh;
}

.navigation li{
    display: flex;
}

.navigation a{
    text-decoration: none;
    color: var(--text-principal);
    padding: 0 1vh;
    height: 100%;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.navigation a:hover {
    background-color: var(--background-bottom);
    color: var(--text-principal);
    height: 100%;
    transform: scale(1.05);
}





