@media screen and (max-width: 600px) {
    header span {
        font-size: 1.3rem;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .container-img {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    main img {
        max-width: 150px;
    }
}